<nav class="navbar bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container">
    <div class="container-fluid d-flex">
      <a class="navbar-brand" href="<%= root_path %>">
        <img src="<%= asset_path('popcorn.svg') %>" alt="Popcorn Icon" width="30" height="24" class="d-inline-block align-text-top">
        Movie Listr
      </a>
      <ul class="navbar-nav d-flex flex-row ms-auto">
        <li class="nav-item mx-3">
          <a class="nav-link" href="<%= root_path %>">My Lists</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#listModal">New list</a>
        </li>
      </ul>
    </div>
  </div>

</nav>
