.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #2B3035 !important;
  --bs-btn-border-color: #2B3035 !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2B3035 !important;
  --bs-btn-hover-border-color: #2B3035 !important;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2B3035 !important;
  --bs-btn-active-border-color: #2B3035 !important;
}
