@media (max-width: 420px) {
  .movie-card {
    height: 16rem !important;
    width: 9rem !important;
  }

  .hide {
    display: none !important;
  }

  .shrink {
    transform: scale(0.8) !important;
  }
}

@media (min-width: 421px) and (max-width: 576px) {
  .movie-card {
    height: 18rem !important;
    width: 10rem !important;
  }

  .hide {
    display: none !important;
  }

  .shrink {
    transform: scale(0.9) !important;
  }
}

@media (min-width: 576px) {
  .movie-card {
    height: 34rem !important;
    width: 16rem !important;
  }
}
