@media (max-width: 576px) {
  .movie-card {
    height: 18rem !important;
    width: 10rem !important;
  }

  .hide {
    display: none;
  }
}

@media (min-width: 576px) {
  .movie-card {
    height: 18rem !important;
    width: 10rem !important;
  }
}

@media (min-width: 576px) {
  .movie-card {
    height: 34rem !important;
    width: 16rem !important;
  }
}
